*{
    margin: o;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif ;
    box-sizing: border-box;
}
body{
    background-color: #49c5b6;
    color: #fff;
}
.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;
}
.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 30px;
    font-size: 20px;
    border-radius: 5px;
}
.container h1{
    font-weight: 900;
}
.container h1 span{
    color: #2779a7;
    border-bottom: 4px solid #2779a7;
    padding-bottom: 7px;
}
.display input{
    border: 0;
    outline: none;
    font-size: 24px;
}
.display i{
    cursor: pointer;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}
.display i:hover{
    background-color: #49c5b6;
    border-radius: 25%;
    transition-duration: 1s;
}
.container button i{
    width: 28px;
}
.container button {
    border: 0;
    outline: 0;
    background-color: #2779a7;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
}
.container button:hover{
    background-color: #21658b;
    transition: background-color 0.3s ease-in-out;
}
p{
    color: #2779a7;
}
.popup {
    display: none;
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    z-index: 1;
}


